body{
    background-color: #BBAE8D;
    overflow-x: hidden; 
}
.navbar2 {
  margin-left: 180px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#pesquisar{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 45%;
}
/* Style the navbar */
#navbar {
    overflow: hidden;
    background-color: rgb(130, 121, 125);
    background-image: linear-gradient(#2A3518,#BBAE8D );
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  /* Navbar links */
  #navbar a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px;
    margin-left: 8%;
    text-decoration: none;
  }
  a {
    list-style:none;
}
a.href {
    width: 100px;
    height:36px;
    line-height:36px;
    text-align: center;
    display:inline-block;
}
a:hover {
    background-color:#2A3518;
}
 
  
  /* Page content */
  .content {
    padding: 16px;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }
  legend{
    width: 50%;
    margin-left: 25%;
    border: 1px solid #2A3518;
    padding: 10px;
    text-align: center;
    background-color: #2A3518;
    border-radius: 8px;
    color: #000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#legend{
    width: 50%;
    margin-left: 25%;
    border: 1px solid #2A3518;
    padding: 10px;
    text-align: center;
    background-color: #2A3518;
    border-radius: 8px;
    color: #BBAE8D;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#botanical {
    height: 400px;
    border-radius:5px 10px 20px 20px;
}
.container{
     display:flex ;
    align-items: center; 
}
.card-title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;    
}
.card {
    /* Add shadows to create the "card" effect */
    margin-left: 20%;
    border-radius: 10%;
    background-image: linear-gradient(#2A3518,#BBAE8D );
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
#img2{
    border-radius: 12%;
 
}
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .cont {
    padding: 2px 16px;
  }
  #gastronomia {
    margin-left: 6%;
    height: 400px;
    border-radius:5px 10px 20px 20px;
}
.con1{
     display:flex ;
    align-items: center; 
}
.card-title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;    
}
.gallery-001{
    margin-left: 10%;
    margin-top: 4%;
}
.localizacao2{
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.mapa{
  margin-left: 37%;
}
.footer{
	background-color: #2A3518;
	width: 100%;
	height:100%;
	float: left;
	font-size: 18px;
	padding: 50px 10px 50px 10px;
}
.footer .left{ 
	width:100%; 
	float:left; 
	border-bottom:1px #2A3518 solid;
	border-right:0; 
	margin-bottom:20px; 
    padding-bottom:20px;
}
.footer .title-footer {
	color: #ffffff;
	font-family: 'DM Sans', sans-serif;
	font-weight: initial;
    font-size:26px;
    width:100%;
    float:left;
    margin-bottom:15px;
}
.footer .title-footer span{
	color:  #BBAE8D;
	font-family:'DM Sans', sans-serif;
	font-weight: bold;
}
/* Footer links */
.footer .links{
	
	width: 100%;
	float: left;
	color:  #ffffff;
	margin-bottom: 20px;
	padding: 0;
}
.footer .links a{
    display: block;
    line-height: 33px;
    text-decoration: none;
    color: #fff;
    font-family:'DM Sans', sans-serif;
    font-size:16px;
    transition:0.3s;
}
.footer .links a:hover { color:#094b1e; }
.footer .Copyright{
	font-family:'DM Sans', sans-serif;
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 10px;
}
/*Rede Sociais*/
.footer .footer-icons{
	
	width:100%;
	float:left;
	margin-bottom:20px;
}
.footer .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #224127;
	border-radius: 50px;
    font-family:'DM Sans', sans-serif;
	font-size: 20px;
	color: #ffffff;
	text-align: center;	
	line-height: 35px;
	margin-bottom: 5px;
	transition:0.3s;
}
.footer .footer-icons a:hover{ background-color:#2fcacf; }
/*Right*/
.footer .right   { width:100%; float:left; }
.footer .right p {
	font-family: 'DM Sans', sans-serif;
	font-weight: initial;
	display: inline-block;
	vertical-align: top;
	font-size: 30px;
	color: #ffffff;
}
/*formulario*/
.footer form { width:100%; float:left; }
.footer form input,
.footer form textarea{
	display: block;
	border-radius: 3px;
	box-sizing: border-box;
	background-color:  #3f4830;
	box-shadow: 0 1px 0 0 #2A3518;
	border: none;
	resize: none;
    outline: none;
	font: inherit;
	font-size: 14px;
	font-family:'DM Sans', sans-serif;
	font-weight: normal;
	color:  #d1d2d2;
	width: 100%;
	padding: 18px;
}
.footer ::-webkit-input-placeholder {
	color:  #5c666b;
}
.footer ::-moz-placeholder {
	color:  #5c666b;
	opacity: 1;
}
.footer :-ms-input-placeholder{
	color:  #5c666b;
}
.footer form input{
	
	width: 100%;
	height: 55px;
	float: left;
	margin-bottom: 15px;
}
.footer form textarea{
	height: 100px;
	margin-bottom: 20px;
}
.footer form .btn{
	border-radius: 3px;
	background-image: linear-gradient(to right, #304e1d , #2A3518);
	color: #ffffff;
	border: 0;
	padding: 15px 50px;
	font-family: 'DM Sans', sans-serif;
	font-weight: bold;
	float: left;
	cursor: pointer;
    transition: 0.3s;
}
.footer form .btn:hover { background-color:  #143625; }
/*Responsive*/
@media (min-width: 1280px) {
	.footer               { padding: 100px 50px 50px 100px; }
	.footer .Copyright    { font-size: 16px; }
	.footer form input,
	.footer form textarea { width: 100%; float:left; }
	.footer form button   { padding: 10px 35px; }
}
@media (min-width: 768px) {
	
	.footer .left         { width:48%; border-bottom:0; }
	.footer .right        { width:48%; padding-left: 4%; border-left: 1px #222424 solid; } 
	.footer form          { margin-top: 30px; }
	.footer form          { display: block; }
	.footer form button   { float: none; }
}
