
body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, #bbae8d, #2A3518);
}
.nav{
    background-color: #2A3518;
    font-size: 70%;
    width: 100.8%;
    height: 19000%;
    margin-left: -0.8%;
}
.box{
    margin-top: 2%;
    color:white;
    position: absolute;
    top: 10%;
    left: 25%;
    transform:translate(-50x ,-50y);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 15px;
    width: 50%;
   
}
#exampleFormControlSelect1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
.form-control{
    width: 90%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: linear-gradient(to right, #bbae8d , #2A3518);
    background-color: #000000;
    margin-left: 4%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}
b{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    left: 30%;
}
fieldset{
    border: 2px solid #ffffff;
}
.legend{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px solid #2A3518;
    padding: 10px;
    text-align:center;
    width: 90%;
    margin-left: 5%;
    background-color: #2A3518;
    border-radius: 8px;
    border: 3px solid #2A3518;
}
legend{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px solid #2A3518;
    padding: 10px;
    text-align:center;
    width: 90%;
    margin-left: 4%;
    background-color:#2A3518;
    border-radius: 8px;
    border: 3px solid #ffffff;
}
.refeicao{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.checkbox{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.inputBox{
    position: relative;
}
.inputUser{
    background: none;
    border: none;
    margin-left: 9%;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 80%;
    letter-spacing: 2px;
}
.labelInput{
    position:absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.inputUser:focus ~ .labelInput, .inputUser:valid ~ .labelInput{
    top: -20px;
    font-size: 10px;
    color: #cecece;
}
#button{
    background-image: linear-gradient(to right, #bbae8d , #2A3518);
    background-color: #000000;
    width: 40%;
    margin-left: 30%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 8%;
}
#button:hover{
    background-image: linear-gradient(to right, #030303 , #11170e);

}
